body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*sweetalert*/
.swal2-title {
    font-size: clamp(1.4rem, 2vw, 2rem) !important;
}

.swal2-html-container {
    font-size: clamp(1rem, 1.5vw, 1.3rem) !important;
    line-height: 1.6 !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.swal2-popup {
    width: 80% !important;
    max-width: 450px !important;
}

.swal2-confirm, .swal2-cancel {
    font-size: 1.1rem !important;
}

/*Contadores*/
.character-counter {
    display: block;
}