@model SistemaGestionVentas.Models.Albums

@{
    ViewBag.Title = "Reactivar álbum";
}

<h2>Reactivar álbum</h2>

<h3>¿Está seguro de reactivar este álbum?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre del álbum</dt>
        <dd>@Html.DisplayFor(model => model.album_name)</dd>

        <dt>Estado</dt>
        <dd>@(Model.album_active ? "Activo" : "Inactivo")</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Reactivar" class="btn btn-default" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>